html{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    flex-grow: 1;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
}

.header{
    padding: .1rem;
    background-color: #f7d9d9;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 5rem;
    height: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    font-size: 125%;
}

.menu a{
    color: chocolate;
    padding: 0 1vw;
    transition: all 0.3s ease-in-out;
    text-decoration: none   ;
}

.menu a:hover{
    opacity: 0.75;
}