@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kurale', serif;
    background-color: #c6a9a3;
    color: #1e212d;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: #01579b;
    transition: all 0.3s ease-out;
}

a:hover{
    opacity: .75;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: .65rem;
}

h1{
    text-align: center;
}

hr{
    border: thin solid #01579b;
    margin: 3rem auto;
    width: 80%;
}

.site{
    margin: 1.2rem auto;
    padding: 1.2rem;
    max-width: 50%;
    text-align: center;
}

.post{
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 80%;
    text-align: center;
    background-color: #f7d9d9;
}

.post-author img{
    border-radius: 50%;
}

.post-date{
    margin: 1.2rem auto;
    display: block;
}

.post-excerpt,
.post-categories,
.post-tags,
.post-content{
    text-align: left;
}

.post-content summary{
    font-size: 1.5rem;
    font-weight: bold;
}

.post-content > article{
    padding: 1rem;
    background-color: #f2b4b4;
}

.post-content img{
    display: block;
    margin: auto;
}

.loader{
    display: none;
    margin: 2.5rem auto;
}