html{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vh;
}

progress{
    margin-top: 1rem;
}

.drop-zone{
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    border: thin dotted #000;
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone.is-active{
    border: thick dashed #000;
    background-color: rgba(0, 128, 0, 0.5);
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0%,
    100%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }
}