
h1{
    background: green;
    display: inline;    /*Inline permite que las etiquetas que son de bloque se pongan seguidas de otro*/
}

span{
    background: greenyellow;
    /*display: block;*/     /*bloc  permite crear su propio bloque (espacio)*/
    display: inline-block;  /*inline block se acomoda en la linea pero permite tener anchuras*/
    height: 50px;
}

p{
    display: inline;
    background: hotpink;
}

.box{
     background: red;
     background-clip: content-box;
     
     /*BOX MODEL*/
     width: 500px;
     height: 300px;
     padding: 50px;
     border: 15px solid gold;
     margin: 80px;

     /*BOX SIZING: Tamaño de la caja*/
     box-sizing: border-box;
}